{{#each lists as |list|}}
  <section data-id="{{list.id}}">
    <h3>
      {{limit list.name 50}}
    </h3>
    {{!-- <button type="submit" class="btn btn-danger delete-book">Remove</button> --}}
  </section>

{{/each}}
