// @import '~bootstrap/scss/bootstrap'

i {
  font-size: 5em;
}

main {
  margin: 125px 0;
}

form {
  width: 75%;
  margin: auto auto;
}

.form-display {
  margin: 50% auto;
}

.modal-bg,
.modal-bg-up,
.modal-bg-create,
.modal-bg-show,
.modal-bg-change {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.hidden {
  display: none;
}

.update-btn-link {
  margin: 10px 10px;
  color: green;
  cursor: pointer;
}

.delete-btn {
  margin: 5px;
  color: red;
  cursor: pointer;
}

.name {
  font-size: 1.1em;
  border-bottom: 1px solid #000;
}

.green {
  background-color: #008000cb;
}

.quantity {
  font-size: 1.1em;
  float: right;
  margin-right: 15px;
  border-bottom: 1px solid #000;
}

.list-name {
  font-size: 20px;
  font-weight: 400;
}

.list-quantity {
  display: inline-block;
  margin-right: 15px;
  float: right;
  font-size: 20px;
  font-weight: 400;
}

.nav-title {
  font-size: 15px;
  float: left;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

// .modal {
//     align-items: center;
//     position: relative;
// }

.modal-close {
  position: absolute;
  top: -15px;
  right: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.success-msg,
.failure-msg {
  margin-bottom: 30px;
}
